/* ------------------------------
    Utilities 
---------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #2D25A0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}
/* ------------------------------
    Navigation style
---------------------------------*/

header{
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
    height: 44px;
    position: relative;
    top: 42px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 960px;
    align-items: center;
}

nav, nav a, .fas.fa-sign-in-alt, .fas.fa-long-arrow-alt-right{
    color: #FFFFFF;
}

.menu-area{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.login-area{
    background-color: #E02C6D;
    padding: 10px 24px;
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* ------------------------------
    Banner style
---------------------------------*/

.banner-area{
    display: flex;
    justify-content: space-between;
    width: 960px;
}

.text-area{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    width: 485px;
    height: 230px;
    row-gap: 30px;
    margin-top: 80px;
}

.text-area a, .highlight-area a{
    color: #FFFFFF;
}

.text-area .welcome-text{
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
}

.live-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 105px;
    display: flex;
    column-gap: 11px;
}

.photo-area svg:hover #player, #ball{
    animation: player 1s infinite ease-out;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes player{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-45px);
    }
}



/* ------------------------------
   player list style
---------------------------------*/
.player-list{
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.player-photo img{
    width: 300px;
    height: 256px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}

.player{
    padding: 15px 15px 35px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 300px;
    /* height: 450px; */
}

.player-name{
    font-weight: 600;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.player-history{
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.player-history p{
    color: #6C6C6C;
}

/* ------------------------------
  video container style
---------------------------------*/
.videos{
    background-color: white;
    padding: 80px 0 50px 0;
}

.video-container{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding-top: 25px;
}

.video-title{
    font-size: 30px;
    text-align: center;
}

/* ------------------------------
  sponsor style
---------------------------------*/
.sponsors-area{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 90px 0 40px 0;
}

.sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.sponsor-list{
    display: flex;
    column-gap: 30px;
}



/* ------------------------------
  Bottom highlight style
---------------------------------*/
.highlight-area{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 158px;
    padding-top: 150px;
}

.photo-highlight img{
    width: 567px;
    height: 427px;
}

.highlights{
    display: flex;
    column-gap: 66px;
    width: 1060px;
}

.text-highlight{
    width: 469px;
    height: 309px;
    margin-top: 70px;
}

.text-highlight p{
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.match-title{
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
}
    
.watch-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 105px;
    margin-top: 24px;
    display: flex;
    column-gap: 11px;
}
/* ------------------------------
    Footer style
---------------------------------*/
.footer-container{
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding-bottom: 63px;
}

.logo img{
    width: 480px;
    height: 110px;
}

.icons{
    display: flex;
    column-gap: 14px;
    justify-content: center;
}

.grey{
    color: #969BAB;
    font-size: 30px;
}

.copyright{
    display: flex;
    justify-content: center;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
}


/* ------------------------------
   Media Query
---------------------------------*/

/* for mobile devices */
@media only screen and (max-width: 688px){
    /* header */
    .menu-area{
        display: none;
    }
    .hidden{
        display: block;
    }

    /* navigation */
    nav {
        display: flex;
        justify-content: center;
        column-gap: 140px;
    }
    
    /* banner */
    .banner-area{
        flex-direction: column;
        align-items: center;
    }

    .text-area{
        align-items: center;
    }

    .welcome-text h1{
        font-size: 36px;
    }

    .photo-area svg{
        width: 300px;
    }

    /* player section */
    .players {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 27px;
    }

    /* video section */

    .videos{
        padding-top: 0;
    }

    .video iframe{
        width: 290px;
    }
    .video-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    /* sponsors */
    .sponsor-list{
        flex-direction: column;
        row-gap: 20px;
    }
    /* highlight */

    .highlight-area{
        padding-top: 0;
        padding-bottom: 50px;
    }

    .highlights{
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .photo-highlight img {
        width: 290px;
        height: 310px;
    }

    .text-highlight{
        width: 329px;
        height: 299px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .match-title{
        font-size: 30px;
    }

    .logo{
        display: flex;
        justify-content: center;
    }

    .logo img{
        width: 250px;
        height: 80px;
    }
}

/* for tablets */
@media only screen and (min-width: 767px) and (max-width:1024px){
    /* body */
    body{
        overflow-x: hidden;
    }
    /* banner */
    .banner-area {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    /* player section */
    .player-list .players {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 27px;
    }
    /* video section */
    .video-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
    }
    /* highlight section */
    .highlights{
        flex-direction: column;
        align-items: center;
    }
}